extends ../../includes/template

block append config
  -
    currentPage = pages[0]
    description = 'Self Trust es considerada una empresa que se preocupa por el cuidado de la piel y cabello. Buscando así que las personas se sientan satisfechas con cada producto que adquieren.'

block content
  +infoCompany('Misión')
  +infoCompany('Visión')

