- let siteName = 'Self-Trust'
- let currentPage = 'Bienvenido'
- let pages = ['Misión y Visión', 'Objetivo y Valores']
- let description = 'Encuentra los mejores productos que haran resaltar tu belleza. Confiar en nosotros es confiar en ti.'

- const mision = 'Ofrecer el mejor servicio, variedad y calidad de productos. Ya que estamos comprometidos a ofrecer el mejor beneficio a nuestros clientes, empleados y a toda la comunidad en general.'

- const vision = 'Crecer en compañía del consumidor en elaboración de productos 100% naturales y trabajar en la popularización de este tipo de productos en la mercadotecnia internacional, ya que son productos ecológicos beneficiosos para cualquier tipo de consumidor, como también accesible para todo el público.'

-const objetivo = 'Crear productos de calidad libres de crueldad animal.'