.colaborator-container {
  @include mq(medium) {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
  }
  // background-color: yellow;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.colaborator {

  &s {
    // margin-top: 20rem;
  }
  // background-color: green;
  color: #000;

  &__img {
    width: 150px;
    margin-right: auto;
    margin-left: auto;
  }

  &__data {

  }

  &__name {
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: 500;
  }
}